In [14]:
import pandas as pd

In [15]:
mi = pd.MultiIndex.from_tuples(
    (
        ('acc', -1),
        ('acc', 1),
        ('f1', -1),
        ('f1', 1),
        ('recall', -1),
        ('recall', 1),
        ('precision', -1),
        ('precision', 1),
    ),
    names=['metric', 'label']
)

ecg200 = pd.DataFrame({
    'ocsvm': [0.69, 0.79, 0.55, 0.82, 0.52, 0.78, 0.57, 0.87],
    'laeocc+relu':[0.54, 0.83, 0.44, 0.86, 0.52, 0.85, 0.40, 0.87],
    'laeocc+lrelu':[0.64, 0.88, 0.57, 0.89, 0.69, 0.88, 0.49, 0.91],
    'laeocc+tanh': [0.53, 0.8, 0.47, 0.83, 0.61, 0.82, 0.40, 0.86],
    'laeocc+swish': [0.57, 0.83, 0.51, 0.85, 0.65, 0.82, 0.43, 0.89],
    'laeocc+sinl(3)': [0.69, 0.87, 0.59, 0.89, 0.65, 0.91, 0.56, 0.88]
}, index=mi)


ecg200.style.set_caption("ECG200")

In [22]:
mi = pd.MultiIndex.from_tuples(
    (
        ('acc', 1),
        ('acc', 2),
        ('f1', 1),
        ('f1', 2),
        ('recall', 1),
        ('recall', 2),
        ('precision', 1),
        ('precision', 2),
    ),
    names=['metric', 'label']
)

ecg5days = pd.DataFrame({
    'ocsvm': [0.68, 0.71, 0.63, 0.63, 0.55, 0.49, 0.75, 0.90],
    'laeocc+relu': [0.57, 0.73, 0.52, 0.77, 0.49, 0.94, 0.57, 0.66],
    'laeocc+lrelu': [0.54, 0.53, 0.56, 0.67, 0.61, 0.94, 0.52, 0.52],
    'laeocc+tanh': [0.76, 0.65, 0.75, 0.58, 0.75, 0.50, 0.76, 0.72],
    'laeocc+swish': [0.63, 0.54, 0.68, 0.67, 0.79, 0.96, 0.60, 0.52],
    'laeocc+sinl (2., 3.)': [0.78, 0.78, 0.72, 0.76, 0.57, 0.68, 1.0, 0.88],
}, index=mi)


ecg5days.style.set_caption("ECG 5 Days")

In [7]:
mi = pd.MultiIndex.from_tuples(
    (
        ('acc', 1),
        ('acc', 2),
        ('f1', 1),
        ('f1', 2),
        ('recall', 1),
        ('recall', 2),
        ('precision', 1),
        ('precision', 2),
    ),
    names=['metric', 'label']
)

chinatown = pd.DataFrame({
    'ocsvm': [0.41, 0.67, 0.46, 0.69, 0.52, 0.70, 0.42, 0.67],
    'laeocc+relu':[0.0, 0., 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
    'laeocc+lrelu':[0.0, 0.63, 0.0, 0.55, 0.0, 0.61, 0.0, 0.53],
    'laeocc+tanh': [0., 0., 0., 0., 0., 0., 0., 0.],
    'laeocc+swish': [0., 0., 0., 0., 0., 0., 0., 0.],
    'laeocc+sinl (5., 3.)': [0.48, 0.67, 0.51, 0.52, 0.54, 0.52, 0.50, 0.55],
}, index=mi)


chinatown.style.set_caption("Ham")

In [11]:
ecg5000 = pd.DataFrame({
    'ocsvm': [0., 0., 0., 0.],
    'laeocc+relu': [0., 0., 0., 0.],
    'laeocc+lrelu': [0., 0., 0., 0.],
    'laeocc+tanh': [0., 0., 0., 0.],
    'laeocc+swish': [0., 0., 0., 0.],
    'laeocc+sinl(3)': [0., 0., 0., 0.]
}, index=['acc', 'f1', 'recall', 'precision'])


ecg5000.style.set_caption("ECG5000 label=1")